/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target *
{
    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-touch-action: none;
        touch-action: none;
}

.noUi-target
{
    position: relative;
}

.noUi-base,
.noUi-connects
{
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
}

/* Wrapper for all connect elements.
 */
.noUi-connects
{
    z-index: 0;

    overflow: hidden;
}

.noUi-connect,
.noUi-origin
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;

    will-change: transform;
    -webkit-transform-style: preserve-3d;
            transform-style: flat;
}

/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin
{
    right: auto;
    left: 0;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin
{
    top: -100%;

    width: 0;
}

.noUi-horizontal .noUi-origin
{
    height: 0;
}

.noUi-handle
{
    position: absolute;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.noUi-touch-area
{
    width: 100%;
    height: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin
{
    -webkit-transition: transform .3s;
            transition: transform .3s;
}

.noUi-state-drag *
{
    cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal
{
    height: 2px;
}

.noUi-horizontal .noUi-handle
{
    position: absolute;
    top: -10px;
    right: -15px;

    display: block;

    width: 30px;
    height: 70px;

    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    background-position: -104px -168px;
}

.noUi-vertical
{
    width: 18px;
}

.noUi-vertical .noUi-handle
{
    right: -6px;
    bottom: -17px;

    width: 28px;
    height: 34px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle
{
    right: auto;
    left: -17px;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target
{
    background: rgba(127, 127, 127, .2);
}

.noUi-connect
{
    background: #111;
}

/* Handles and cursors;
 */
.noUi-draggable
{
    cursor: ew-resize;
}

.noUi-vertical .noUi-draggable
{
    cursor: ns-resize;
}

.noUi-handle
{
    cursor: default;
}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after
{
    position: absolute;
    top: -10px;
    left: -10px;

    display: block;

    width: calc(100% + 20px);
    height: calc(100% + 20px);

    content: '';
}


.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after
{
    top: 14px;
    left: 6px;

    width: 14px;
    height: 1px;
}

.noUi-vertical .noUi-handle:after
{
    top: 17px;
}

/* Disabled state;
 */
[disabled] .noUi-connect
{
    background: #b8b8b8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle
{
    cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips *
{
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.noUi-pips
{
    color: #999;

    position: absolute;
}

/* Values;
 *
 */
.noUi-value
{
    position: absolute;

    text-align: center;
    white-space: nowrap;
}

.noUi-value-sub
{
    color: #ccc;
    font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker
{
    position: absolute;

    background: #ccc;
}

.noUi-marker-sub
{
    background: #aaa;
}

.noUi-marker-large
{
    background: #aaa;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal
{
    top: 100%;
    left: 0;

    width: 100%;
    height: 80px;
    padding: 10px 0;
}

.noUi-value-horizontal
{
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal
{
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker
{
    width: 2px;
    height: 5px;
    margin-left: -1px;
}

.noUi-marker-horizontal.noUi-marker-sub
{
    height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large
{
    height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical
{
    top: 0;
    left: 100%;

    height: 100%;
    padding: 0 10px;
}

.noUi-value-vertical
{
    padding-left: 25px;

    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

.noUi-rtl .noUi-value-vertical
{
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker
{
    width: 5px;
    height: 2px;
    margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub
{
    width: 10px;
}

.noUi-marker-vertical.noUi-marker-large
{
    width: 15px;
}

.noUi-tooltip
{
    color: #000;

    position: absolute;

    display: block;

    padding: 5px;

    text-align: center;
    white-space: nowrap;

    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #fff;
}

.noUi-horizontal .noUi-tooltip
{
    bottom: 120%;
    left: 50%;

    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

.noUi-vertical .noUi-tooltip
{
    top: 50%;
    right: 120%;

    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

.noUi-horizontal .noUi-origin > .noUi-tooltip
{
    bottom: 10px;
    left: auto;

    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
}

.noUi-vertical .noUi-origin > .noUi-tooltip
{
    top: auto;
    right: 28px;

    -webkit-transform: translate(0, -18px);
            transform: translate(0, -18px);
}
